$hamburger-color--open: $color-primary;
$hamburger-color--close: $color-primary;

$menu-font-size: 1.5rem;
$menu-background: rgba($color-secondary, .8);
$menu-position: fixed;
$menu-position--left: 0;
$menu-position--top: 0;
$menu-width: 100%;

$row-background--hover: transparent;
$text-color: #fff;
$text-color--hover: $color-primary;

$menu-text-align: center;
$menu-padding--top: 50px;
$menu-padding--bottom: 150px;

$menu-item-spacing--inner: 5px 10px;
$menu-item-spacing--outer: 2px 5px;

@media screen and (min-width: 771px) {
  .hamburger {
    display: none !important;
  }
}

@media screen and (max-width: 770px) {
  #menu {
    display: none !important;
  }
  .slicknav_menu {
    display: block !important;
  }
}

.flex-header {
  .hamburger {
    padding: 15px 20px;
  }
  .hamburger:hover {
    opacity: 1;
  }
  .hamburger-inner,
  .hamburger-inner:after,
  .hamburger-inner:before {
    background-color: $hamburger-color--open;
  }
  .hamburger--spin.is-active {
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background-color: $hamburger-color--close;
    }
  }
}

/*! * SlickNav Responsive Mobile Menu v1.0.10 * (c) 2016 Josh Cope * licensed under MIT */
.slicknav_btn,
.slicknav_nav .slicknav_item {
  cursor: pointer;
}

.slicknav_menu,
.slicknav_menu * {
  box-sizing: border-box;
}

.slicknav_btn {
  line-height: 1.125em;

  position: relative;

  display: block;
  float: right;

  padding: .438em .625em;

  vertical-align: middle;
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: .188em;
}

.slicknav_menu .slicknav_menutxt {
  font-weight: 700;
  line-height: 1.188em;

  display: block;
  float: left;

  color: #fff;
  text-shadow: 0 1px 3px #000;
}

.slicknav_menu .slicknav_icon {
  float: left;

  width: 1.125em;
  height: .875em;
  margin: .188em 0 0 .438em;
}

.slicknav_menu .slicknav_icon:before {
  position: absolute;

  display: block;

  width: 1.125em;
  height: .875em;

  content: '';

  background: 0 0;
}

.slicknav_menu .slicknav_no-text {
  margin: 0;
}

.slicknav_menu .slicknav_icon-bar {
  display: block;

  width: 1.125em;
  height: .125em;

  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
}

.slicknav_menu:after,
.slicknav_menu:before {
  display: table;

  content: ' ';
}

.slicknav_menu:after {
  clear: both;
}

.slicknav_nav li,
.slicknav_nav ul {
  display: block;
}

.slicknav_nav .slicknav_arrow {
  font-size: .8em;

  margin: 0 0 0 .4em;
}

.slicknav_nav .slicknav_item a {
  display: inline;
}

.slicknav_nav .slicknav_row,
.slicknav_nav a {
  display: block;
}

.slicknav_nav .slicknav_parent-link a {
  display: inline;
}

.slicknav_menu {
  font-size: $menu-font-size;

  position: $menu-position;
  top: $menu-position--top;
  left: $menu-position--left;

  width: $menu-width;

  background: $menu-background;

  *zoom: 1;
}

.slicknav_nav,
.slicknav_nav ul {
  overflow: hidden;

  padding: 0;

  list-style: none;
}

.slicknav_menu .slicknav_icon-bar {
  background-color: #fff;
}

.slicknav_btn {
  margin: 5px 5px 6px;

  text-decoration: none;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #222;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
}

.slicknav_nav {
  font-size: $menu-font-size;

  clear: both;
  overflow: scroll;

  width: calc(100vw + 20px);
  height: calc(100vh + 20px);
  max-height: calc(100vh + 20px);
  margin: 0;
  padding-top: $menu-padding--top;
  padding-right: 20px;
  padding-bottom: $menu-padding--bottom;

  text-align: $menu-text-align;
}

.slicknav_nav ul {
  margin: 0;
}

.slicknav_nav .slicknav_row,
.slicknav_nav a {
  margin: $menu-item-spacing--outer;
  padding: $menu-item-spacing--inner;
}

.slicknav_nav .slicknav_row:hover {
  color: $text-color--hover;
}

.slicknav_nav a {
  text-decoration: none;

  color: $text-color;
}

.slicknav_nav a:hover {
  color: $text-color--hover;
  background: $row-background--hover;
}

.slicknav_nav .slicknav_txtnode {
  margin-left: 15px;
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
  margin: 0;
  padding: 0;
}

.slicknav_brand {
  font-size: 18px;
  line-height: 30px;

  float: left;

  height: 44px;
  padding: 7px 12px;

  color: #fff;
}

.slicknav_nav li.menu-item.menu-item-has-children > a {
  padding-left: 35px;
}

.slicknav_nav li.menu-item.menu-item-has-children > .sub-menu {
  font-size: 20px;
}
