/* article default styling */
article {
  ul {
    padding-left: 20px;

    list-style: disc;
  }
  ol {
    padding-left: 20px;

    list-style: decimal;
  }
  b,
  strong {
    font-weight: bold;
  }
  i,
  em {
    font-style: italic;
  }
  u {
    text-decoration: underline;
  }
  p,
  ol,
  ul {
    font-size: 1em;
    line-height: 1.25;

    display: block;

    margin: 0 0 1em 0;
    a:not(.c-btn) {
      color: $color-primary;
      &:hover {
        color: lighten($color-primary, 10%);
      }
    }
  }
  .c-btn{
    margin: 0 0 1em 0;
    line-height: 1;
  }
  q,
  blockquote{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    margin: 0 0 1em 0;
    p{
      margin-bottom: 0;
      &:before{
        content: '\201d';
      }
      &:after{
        content: '\201c';
      }
      + p{
        text-align: right;
        font-weight: bold;
        display: block;
        &:before,
        &:after{
          content: none;
        }
      }
    }
  }
  h1 {
    font-size: 2em;
    font-weight: bold;

    display: block;

    margin: 0 0 .67em 0;
  }
  h2 {
    font-size: 1.313em;
    font-weight: bold;

    display: block;

    margin: 0 0 .83em 0;
  }
  h3 {
    font-size: 1.17em;
    font-weight: bold;

    display: block;

    margin: 0 0 1em 0;
  }
  h4 {
    font-size: 1em;
    font-weight: bold;

    display: block;

    margin: 0 0 1.33em 0;
  }
  h5 {
    font-size: .83em;
    font-weight: bold;

    display: block;

    margin: 0 0 1.67em 0;
  }
  h6 {
    font-size: .67em;
    font-weight: bold;

    display: block;

    margin: 0 0 2.33em 0;
  }
}
