$container-width: 100%;
$container-side-padding: 20px;
$container-max-width: 1200px + $container-side-padding * 2;

$font-primary: 'Times New Roman', Times, serif;

$color-primary: #fff;
$color-secondary: #000;
