.flex-form {
  display: flex;

  width: 100%;

  flex-wrap: wrap;
  justify-content: space-between;
  &__row {
    width: 100%;
    margin-bottom: 20px;
  }
  &__column {
    width: calc(100% / 2 - 10px);
    margin-bottom: 20px;
    .flex-form__row:last-of-type{
      margin-bottom: 0;
    }
  }
  &__submit {
    display: flex;

    width: 100%;
    margin-bottom: 20px;

    justify-content: flex-start;
    align-items: center;
    input,
    button {
      position: relative;
      z-index: 1;
    }
  }
  .radio-wrapper {
    appearance: none;
    &::-ms-check {
      color: transparent;
      border-color: transparent;
      background-color: transparent;
    }
  }
}

/* input should have 2 px border for word press same color as it`s background padding should 2px less then in ps due to border */

label{
  padding-left: 8px;
}

textarea,
input:not([type='submit']) {
  width: 100%;
  padding: 8px;

  border: 2px solid #000000;
  border-radius: 0;
  background-color: #ffffff;

  appearance: none;
}

textarea {
  resize: none;
  min-height: 175px;
}

/* wpcf7 error styling styling */
div.wpcf7-mail-sent-ok {
  //font-family: $font-primary;
  font-size: 20px;
  font-weight: 600;

  width: 100%;
  margin: 0;
  padding: 20px 20px;

  text-align: center;

  color: #1a6400;
  border: none;
  background-color: #b6eeba;
}

.pwc--error,
div.wpcf7-validation-errors {
  //font-family: $font-primary;
  font-size: 20px;
  font-weight: 600;

  width: 100%;
  margin: 0;
  padding: 20px 20px;

  text-align: center;

  color: #ce0228;
  border: none;
  background-color: #eeb6b6;
}

div.pwc-field--error {
  input {
    border: 2px solid #ce0228;
  }
}

input.wpcf7-not-valid {
  border: 2px solid #ce0228;
}

span.wpcf7-not-valid-tip {
  display: none !important;
}

div.wpcf7 .ajax-loader {
  z-index: -1;

  width: 44px;
  height: 40px;
  margin: 0;

  transition: all .1s ease-in-out;
  transform: translateX(-40px);

  background: url('../img/ajax-pwc--simple.gif') no-repeat;
  &.is-active {
    transform: translateX(0);
  }
}

// custom form error styling not contact form 7

//response styling
.response-message {
  width: 100%;
}

.form-response {
  display: flex;
  overflow: hidden;

  width: 100%;
  max-height: 0;
  margin: auto;
  padding-top: 0;

  transition: all .25s linear;
  text-align: center;
  &.is-active {
    max-height: 500px;
  }
  &.is-success .response-message {
    color: green;
    border: 2px solid green;
  }
  &.is-error .response-message {
    color: red;
    border: 2px solid red;
  }
  .response-message {
    font-size: 19px;

    width: 100%;
    margin: 5px 0 20px;
    padding: 20px;

    text-align: center;

    border: 2px solid #fff;
    @media screen and (max-width: 550px) {
      margin-top: 20px;
      padding: 10px;
    }
  }
}

.submitting--wrapper {
  display: inline-block;
  overflow: hidden;

  width: 40px;
  max-width: 0;
  height: 40px;
  margin-left: 20px;
  &.is-active {
    max-width: 40px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

input.is-required {
  border: 2px solid $color-primary;
}

// honey pot
.additional-info {
  overflow: hidden;

  max-width: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
  input {
    max-width: 0;
    max-height: 0;
  }
}
